/*************************************************************************************************************************************/
/*************************************************************************************************** GENERAL BOILERPLATE *************/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
/*html {overflow-y:scroll}*/
body{margin:0;font-size:13px;line-height:1.231;}
body,button,input,select,textarea{font-family:sans-serif;color:#222;}
::-moz-selection{background:#998de0;color:#fff;text-shadow:none;}
::selection{background:#998de0;color:#fff;text-shadow:none;}
#player ::selection,#game_window ::selection{background:black;background:transparent;}
:focus{/*border:1px solid #7878CC;*/}
#player :focus,#game_window :focus{border:none;}
a{color:#fff;}
a:visited{color: purple;}
a:hover{color:#0088cc;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 0px; padding: 0px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; padding: 6px;}
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
.actions p{position:relative;float:left;margin-left:20px;padding-top:4px;}
table { border-collapse: collapse; border-spacing: 0; width: 100%; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.clear{clear:both;}
.left{float:left;}
.right{float:right;}

/*************************************************************************************************************************************/
/*************************************************************************************************** GENERAL *************************/
html,body,#master_header, header,#wrapper,#master_footer, footer{position:relative;}
header,#wrapper,footer{width: 100%; float:left;}
html{background:#fff;}
html,body{text-align:center;font-family:"Helvetica","Arial",sans-serif;font-weight:300;font-stretch:normal;color:#444;text-rendering:optimizeLegibility;}
#templates {display:none;}

th, td { border-style: inset; border-width: 2px; border-color: white;}

/*************************************************************************************************************************************/
/*************************************************************************************************** GRADIENTS ***********************/
.light_gradient {
  background: rgb(255,255,255); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(239,239,239,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-8 */
}
#main_navigation a, table thead th, .tabs a {
  background: rgb(151,201,60); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk3YzkzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NWM0MDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(151,201,60,1) 0%, rgba(133,196,7,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(151,201,60,1)), color-stop(100%,rgba(133,196,7,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(151,201,60,1) 0%,rgba(133,196,7,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(151,201,60,1) 0%,rgba(133,196,7,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(151,201,60,1) 0%,rgba(133,196,7,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(151,201,60,1) 0%,rgba(133,196,7,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97c93c', endColorstr='#85c407',GradientType=0 ); /* IE6-8 */
}
#main_navigation a:hover, table thead th, .tabs a:hover {
  background: rgb(133,196,7); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg1YzQwNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MWMxMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(133,196,7,1) 0%, rgba(129,193,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(133,196,7,1)), color-stop(100%,rgba(129,193,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(133,196,7,1) 0%,rgba(129,193,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(133,196,7,1) 0%,rgba(129,193,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(133,196,7,1) 0%,rgba(129,193,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(133,196,7,1) 0%,rgba(129,193,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85c407', endColorstr='#81c100',GradientType=0 ); /* IE6-8 */
}
#main_navigation a.last{border-right: 1px solid #6BB329;}


/*************************************************************************************************************************************/
/*************************************************************************************************** HEADER **************************/
#master_header {height: 40px; padding: 10px; border-bottom: 1px solid #DDD; min-width: 1004px; text-align:center; min-width: 1090px;}
#main_navigation { width: 830px; margin-left:auto; margin-right:auto;}
#application_logo {background: url(images/logo.png) 0px 0px no-repeat; width: 250px; height: 38px; float: left;}
#master_header #client_logo {background: url(images/the-north-face.png) 0px 0px no-repeat; height: 38px; width: 30px;right: 25px;top: 10px; position: fixed;}


/*************************************************************************************************************************************/
/*************************************************************************************************** NAVIGATION **********************/
#main_navigation a {width: 90px; display: inline-block;text-align:center;color:#fff; text-decoration: none;}
#main_navigation a:visited {color:#fff;}

/*************************************************************************************************************************************/
/*************************************************************************************************** MAIN CONTENT ********************/
#content {padding: 10px; overflow: auto;}

/*************************************************************************************************************************************/
/*************************************************************************************************** TABLES **************************/
th {padding: 10px 20px; color: #fff;}
tr td {vertical-align: middle; padding: 5px 10px;}
tr:nth-child(even) {background: #D1E4A3	}
tr:nth-child(odd) {background: #FFF}
table tbody tr td a { color: #3190CF; }
td.cell_left {text-align:left;}

.sentiment_block {width: 265px;}
.sentiment_block > * { float: left; }
.action_block {min-height: 50px;}
.action_block > * { padding: 5px; float: left;}
.not_junk {background: #A8D25E;}
.junk {background: #888;}
[data-sentiment=negative] {background: #ff0000;}
[data-sentiment=neutral] {background: #ffff00;}
[data-sentiment=positive] {background: #008000;}
.duplicate {background: #ccc;}

ul.tag_collection li { display:inline-block; margin: 5px; border-style: groove; border-width: 2px; border-color: blue; padding: 3px; }
/*************************************************************************************************************************************/
/*************************************************************************************************** FOOTER **************************/
#master_footer {background:#000; height: 40px;}


/*************************************************************************************************************************************/
/*************************************************************************************************** MODAL **************************/
ul {list-style: none; }


#create_classification_rule > * { text-align: center; min-width: 250px; margin:auto; margin-bottom: 10px; display: block;}

select.classifications { display: block;  min-width: 250px; max-width: 275px; height: 20px; font-size: 1em; }


a[data-link] { cursor: pointer; color: black; padding: 10px; text-decoration: none;}

header a[data-link=X] { float: right;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border: 5px dotted #76807B;
}


.sentiment_actions a:not(.selected) { opacity: 0.3; }


#modal {  background-color: white; opacity: 0.9;  display: none;  min-width: 400px;  max-width: 600px; min-height: 200px; max-height: 400px; position: fixed !important; left: 40%; top: 25%; cursor: move; border-style: groove; border-color: black; border-width: 3px; }
#modal article { overflow: auto; min-height: 200px; max-height: 300px; width: 100%;}

#modal {
  padding: 10px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border: 10px double #76807B;
}


.pager { display: block; width: 100%; border-top: dashed 1px gray; }
.pager li { display: inline-block; }
.pager a.selected { font-weight: bold;}

nav.tabs { min-width: 400px; margin-bottom: 5px;}
.tabs div { display: inline-block;  }
.tabs a { border: 3px black dashed;}
.tabs a.selected { font-weight: bold; }

p { font-size: 14px;  font-family: Verdana; font-style: normal; }

#search { min-width: 600px; }

#search a[data-link=submit] { margin-top:10px; display: block; min-width: 50px}

.field { display: block; width: 250px; padding: 20px; }
.field label { float: left; }
.field input, .field select { float: right; min-width: 150px; }

.none { display: none; }


.fine_print { display: block; font-size: 0.5em; color: gray; }

