@import 'compass';

#main{
  margin: 0 auto;
  min-width: 200px;
  max-width: 500px;
  min-height: 200px;
  max-height: 500px;
}

input{
  -webkit-box-shadow:2px 2px 2px 2px #333333, 2px 2px 50px 2px #97A7B0;
  -moz-box-shadow:2px 2px 2px 2px #333333, 2px 2px 50px 2px #97A7B0;
  -o-box-shadow:2px 2px 2px 2px #333333, 2px 2px 50px 2px #97A7B0;
  -ms-box-shadow:2px 2px 2px 2px #333333, 2px 2px 50px 2px #97A7B0;
  box-shadow:2px 2px 2px 2px #333333, 2px 2px 50px 2px #97A7B0;
  -webkit-border-radius:1em;
  -moz-border-radius:1em;
  -o-border-radius:1em;
  -ms-border-radius:1em;
  border-radius:1em;
  background-color: #FFFFFF;
  color: #666666;
  font-size: 24.0px;
  -ms-border-radius:1.0em;


  font-weight: normal;
  text-align: center;
  line-height: 140%;
  text-shadow: 2px 2px 25px #878787;
}

body{
  background-color: #f6f8f9; // Old browsers
  @include filter-gradient(#f6f8f9, #f5f7f9, vertical); // IE6-9
  @include background-image(linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%));
  min-width: 600px;
  min-height: 800px;
}